proj0/dataset_dogs_vs_cats
proj0/model/fajny.keras
proj0/my_photos
proj0/tescik
proj0/*.zip
lab5/dogs-cats-mini 1/*
proj1/chords_recognition
proj1/genres_recognition/data_to_predict
proj1/genres_recognition/datasets
proj1/genres_recognition/models
proj1/genres/test_json
proj1/genres/data_full.json